<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="SuperDataBase" connectionString="data source=20.20.10.11; initial catalog=QMS; user id=devserver; password=Opo@123; TrustServerCertificate=True; Connect Timeout=3000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>

    <add key="SuperDataBase" value="4Vs/EUH4IGiABCAjEqbq6w7HWkXUXZhE5uDT8nlyxjFXKJrtHVw7CkZhUSGgpCiYrraegFJaMFcXSziH90ryRyflJX1S6XLGZY5kCX+WpKE=" />

  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
